.navbar {
  background-color: #000000;
  font-family: 'Cormorant SC', serif;

}

.index-body {
  background-color: #000000;
}

.jumbotron {
  background-color: #000000;
}

.btn {
  background-color: #2fbbbe;
  border-color: #2fbbbe;
}
.btn-primary:hover {
  background-color:#689da4;
  border-color: #689da4;
}

body {
  padding-top: 25px;
  background-color: #000000;
  font-family: 'Cormorant SC', serif;
  color: white;
}

#signup-box {
  background-color: #8c6b44;
  padding: 1em;
  
}
.col-lg-4 {
  padding: 1em;
}

h1{
  padding-top: 1em;
}

.signup-form {
  background-color: #8c6b44;
  padding: 1em;
  margin-top: 2em;
}

.signin-form {
  background-color: #8c6b44;
  padding: 1em;
  margin-top: 2em;
}

#nameHelp, #emailHelp, #passwordHelp {
  color: white;
}

#back-button {
  margin: 1em;
}

#delete-rating {
  background-color: #dc3545;
  border-color: #dc3545;;
  color: white;
}

#delete-rating:hover {
  background-color: #9c222e;
}

#review-card {
  margin-top: 1em;
  background-color: #2fbbbe;
}

.card-header {
  background-color: #2fbbbe;
}

.blockquote-footer{
  color: black;
}

#deleteForm {
  padding: 1em;
}

#ratingForm {
  background-color: #8c6b44;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#leaveRatingHeader{
  padding: .5em;
}