<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>Beers</h1>

      <ul class="list-group">

        <% beers.forEach((beer) => { %>

          <li class="list-group-item">
            <a href="/beers/<%= beer.id %>"> <%= beer.name %> </a>
          </li>
        <% }) %>
      </ul>

      
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>

